<div class="sidebar" [ngClass]="{'collapsed': isCollapsed}">
  <ng-container *ngFor="let section of navigationSections">
    <div class="section" id="section-{{section.id}}" (click)="toggleSection(section.id)">
      <h3>{{ section.name }}</h3>
      <ul [ngClass]="{'hidden': !section.isExpanded}" id="navigation-property-list">
        <li *ngFor="let navigationProperty of section.navigationProperties" (click)="navigate(navigationProperty.route)" class="navigation-property">
          {{ navigationProperty.name }}
        </li>
      </ul>
    </div>
  </ng-container>
</div>
