/* src/app/sidebar/sidebar.component.css */

.sidebar {
    width: 170px;
    height: calc(100vh - 60px);
    background-color: #e2dec8;
    transition: width 0.3s;
    // position: absolute;
    top: 60px;
    overflow: hidden;


    .search-section {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .dropdown {
        select {
          width: 155px;
        }
      }

      .search-field {
        display: flex;
        margin-top: 3px;

        input {
          width: 122px;
          margin-right: 4px;
        }

        button {
          font-size: 8pt;
          height: 21px;
          width: 25px;
        }
      }

      a {
        margin-top: 2px;
        font-size: 8pt;
      }

      hr {
        width: 90%;
        display: block;
        unicode-bidi: isolate;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: auto;
        margin-inline-end: auto;
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
      }
    }

    .navigation-container {
      width: 100%;
      margin-top: 18px;

      .navigation-section {
        .section-header {
          display: flex;
          align-items: center;
          height: 20px;
  
          span {
            cursor: pointer;
            border: none;
            color: #1a3b8d;
            text-align: left;
            margin: 0 0 0 0;
            font-size: x-small;
            font-weight: 500;
          }
          span:hover {
            color: red !important;
          }
        }

        .navigation-property-list {
          display: flex;
          flex-direction: column;
          cursor: pointer;
          border: none;
          color: #1a3b8d;
          text-align: left;
          margin: 0px 0px 20px 20px;
          font-size: x-small;
          font-weight: 500;

          padding-left: 30px;

          span {
            text-decoration: underline;
          }

          span:hover {
            color: red !important;
          }
        }

      }

      .navigation-item {
        margin-left: 18px;
        text-decoration: underline;
        cursor: pointer;
        border: none;
        color: #1a3b8d;
        text-align: left;
        font-size: x-small;
        font-weight: 500;


        :hover {
          color: red !important;
        }
      }
    }

  
}


  // .collapsed {
  //   width: 50px;
  // }

  // .section {
  //   cursor: pointer;
  //   margin-bottom: 10px;
  // }

  // .section-title {
  //   font-weight: bold;
  // }

  // .submenu {
  //   margin-left: 15px;
  // }

  // .submenu-item {
  //   margin-bottom: 5px;
  // }

.hidden {
  display: none !important;
}
