.header-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 60px;

    div {
        height: 14px;
        background-color: #1a3b8d;
        color: white;
        padding-left: 3px;
        font-family: arial;
        padding-bottom: 3px;
    }

}