<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" />
    </div>

    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" formControlName="email" />
    </div>

    <div>
        <label for="address">Address:</label>
        <input type="text" id="address" formControlName="address" />
      </div>

    <button type="submit" [disabled]="myForm.invalid">Submit</button>
</form>