<div class="simulator-search-container">
    <div class="button-container">
        <button>Reset</button>
        <div class="spacer"></div>
        <button (click)="navigate()" id="submit">Submit</button>
    </div>
    <div class="simulator-search">
        <div class="header">
            <span>Search Simulators</span>
        </div>
        <div class="search-criteria">
            <div class="search-item">
                <span>Simulator:</span>

                <select name="simulator" id="simulator" size="3">
                    <option value="sim1">sim1</option>
                    <option value="sim1">sim1</option>
                    <option value="sim1">sim1</option>
                    <option value="sim1">sim1</option>
                    <option value="sim1">sim1</option>
                    <option value="sim1">sim1</option>
                    <option value="sim1">sim1</option>
                    <option value="sim1">sim1</option>
                    <option value="sim1">sim1</option>
                </select>
            </div>
            <div class="search-item">
                <span>Location:</span>

                <select name="location" id="location" size="3">
                    <option value="sim1">location1</option>
                    <option value="sim1">location1</option>
                    <option value="sim1">location1</option>
                    <option value="sim1">location1</option>
                    <option value="sim1">location1</option>
                    <option value="sim1">location1</option>
                    <option value="sim1">location1</option>
                    <option value="sim1">location1</option>
                    <option value="sim1">location1</option>
                </select>
            </div>
            <div class="search-item">
                <span>Aircraft:</span>

                <select name="aircraft" id="aircraft" size="3">
                    <option value="sim1">aircraft1</option>
                    <option value="sim1">aircraft1</option>
                    <option value="sim1">aircraft1</option>
                    <option value="sim1">aircraft1</option>
                    <option value="sim1">aircraft1</option>
                    <option value="sim1">aircraft1</option>
                    <option value="sim1">aircraft1</option>
                    <option value="sim1">aircraft1</option>
                    <option value="sim1">aircraft1</option>
                </select>
            </div>

            <div class="search-item">
                <span>Job Number:</span>

                <select name="job" id="job" size="3">
                    <option value="sim1">job1</option>
                    <option value="sim1">job1</option>
                    <option value="sim1">job1</option>
                    <option value="sim1">job1</option>
                    <option value="sim1">job1</option>
                    <option value="sim1">job1</option>
                    <option value="sim1">job1</option>
                    <option value="sim1">job1</option>
                    <option value="sim1">job1</option>
                </select>
            </div>
            <div class="search-item">
                <span>Asset Number:</span>

                <select name="assetNumber" id="assetNumber" size="3">
                    <option value="sim1">assetNumber1</option>
                    <option value="sim1">assetNumber1</option>
                    <option value="sim1">assetNumber1</option>
                    <option value="sim1">assetNumber1</option>
                    <option value="sim1">assetNumber1</option>
                    <option value="sim1">assetNumber1</option>
                    <option value="sim1">assetNumber1</option>
                    <option value="sim1">assetNumber1</option>
                    <option value="sim1">assetNumber1</option>
                </select>
            </div>
            <div class="search-item">
                <span>Sim Type:</span>

                <select name="simType" id="simType" size="3">
                    <option value="sim1">simType1</option>
                    <option value="sim1">simType1</option>
                    <option value="sim1">simType1</option>
                    <option value="sim1">simType1</option>
                    <option value="sim1">simType1</option>
                    <option value="sim1">simType1</option>
                    <option value="sim1">simType1</option>
                    <option value="sim1">simType1</option>
                    <option value="sim1">simType1</option>
                </select>
            </div>

            <div class="search-item">
                <span>Destination:</span>

                <select name="destination" id="destination" size="3">
                    <option value="sim1">destination1</option>
                    <option value="sim1">destination1</option>
                    <option value="sim1">destination1</option>
                    <option value="sim1">destination1</option>
                    <option value="sim1">destination1</option>
                    <option value="sim1">destination1</option>
                    <option value="sim1">destination1</option>
                    <option value="sim1">destination1</option>
                    <option value="sim1">destination1</option>
                </select>
            </div>
            <div class="search-item">
                <span>Special Groups:</span>

                <select name="specialGroups" id="specialGroups" size="3">
                    <option value="sim1">specialGroups1</option>
                    <option value="sim1">specialGroups1</option>
                    <option value="sim1">specialGroups1</option>
                    <option value="sim1">specialGroups1</option>
                    <option value="sim1">specialGroups1</option>
                    <option value="sim1">specialGroups1</option>
                    <option value="sim1">specialGroups1</option>
                    <option value="sim1">specialGroups1</option>
                    <option value="sim1">specialGroups1</option>
                </select>
            </div>
            <div class="search-item">
                <span>Status:</span>

                <select name="status" id="status" size="3">
                    <option value="sim1">status1</option>
                    <option value="sim1">status1</option>
                    <option value="sim1">status1</option>
                    <option value="sim1">status1</option>
                    <option value="sim1">status1</option>
                    <option value="sim1">status1</option>
                    <option value="sim1">status1</option>
                    <option value="sim1">status1</option>
                    <option value="sim1">status1</option>
                </select>
            </div>

            <div class="search-item">
                <span>Manufacturers:</span>

                <select name="manufacturer" id="manufacturer" size="3">
                    <option value="sim1">manufacturer1</option>
                    <option value="sim1">manufacturer1</option>
                    <option value="sim1">manufacturer1</option>
                    <option value="sim1">manufacturer1</option>
                    <option value="sim1">manufacturer1</option>
                    <option value="sim1">manufacturer1</option>
                    <option value="sim1">manufacturer1</option>
                    <option value="sim1">manufacturer1</option>
                    <option value="sim1">manufacturer1</option>
                </select>
            </div>
            <div class="search-item">
                <span>Project Type:</span>

                <select name="projectType" id="projectType" size="3">
                    <option value="sim1">projectType1</option>
                    <option value="sim1">projectType1</option>
                    <option value="sim1">projectType1</option>
                    <option value="sim1">projectType1</option>
                    <option value="sim1">projectType1</option>
                    <option value="sim1">projectType1</option>
                    <option value="sim1">projectType1</option>
                    <option value="sim1">projectType1</option>
                    <option value="sim1">projectType1</option>
                </select>
            </div>
            <div class="search-item">
                <span>Ship Date:</span>

                <select name="shipDate" id="shipDate" size="3">
                    <option value="sim1">shipDate1</option>
                    <option value="sim1">shipDate1</option>
                    <option value="sim1">shipDate1</option>
                    <option value="sim1">shipDate1</option>
                    <option value="sim1">shipDate1</option>
                    <option value="sim1">shipDate1</option>
                    <option value="sim1">shipDate1</option>
                    <option value="sim1">shipDate1</option>
                    <option value="sim1">shipDate1</option>
                </select>
            </div>
            <div class="search-item">
                <span>Lead Center:</span>

                <select name="leadCenter" id="leadCenter" size="3">
                    <option value="sim1">leadCenter1</option>
                    <option value="sim1">leadCenter1</option>
                    <option value="sim1">leadCenter1</option>
                    <option value="sim1">leadCenter1</option>
                    <option value="sim1">leadCenter1</option>
                    <option value="sim1">leadCenter1</option>
                    <option value="sim1">leadCenter1</option>
                    <option value="sim1">leadCenter1</option>
                    <option value="sim1">leadCenter1</option>
                </select>
            </div>
            <div class="search-item"></div>
            <div class="search-item"></div>
        </div>
    </div>
</div>