.simulator-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;

        button {
            height: 24px;
        }
    }
    .spacer {
        width: 50px;
    }
    .simulator-search {
        height: 550px;

        background: #dcdcdc;
        border: 1px black solid;
        width: 800px;

        .header {
            height: 22px;
            color: white;
            background: #1a3b8d;
            font-size: x-small;
            font-weight: 500;

            display: flex;
            align-items: center;
            padding-left: 8px;
        }

        .search-criteria {
            height: calc(95% - 24px);
            margin: 6px;
            padding: 6px;
            border-style: double;
            border-color: #1a3b8d;
            background: #f5f5f5;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .search-item {
                display: flex;
                flex-direction: column;
                width: 30%;
                padding: 8px;
            }
        }

    }
}