/* src/app/app.component.css */

.app-container {
    display: flex;
}

.content-container {
    flex: 1;
    background-color: #f5f5f5;
    position: absolute;
    top: 109px;
    left: 170px;
    height: calc(100vh - 120px);
    width: calc(100vw - 180px);
    margin: 5px;
}
